<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <img src="/assets/images/jessica-logo.png" id="jessica-main-logo"/>
      <h1 class="title is-size-1 is-uppercase "> <!--</h1> has-text-weight-bold">-->
       
      <!--{{site.title}}-->
      </h1>
      <h3 class="subtitle is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-rounded is-outlined is-uppercase has-text-weight-normal">Sobre Mim</a>
      </a>
    </div>
  </div>
</section>